{
    "REQUIRED_API_KEY": "123456",
    "SERVER_PORT": 3000,
    "HOST": "127.0.0.1",
    "MODEL_PROVIDER": "gemini-cli-oauth",
    "OPENAI_API_KEY": "xxx",
    "OPENAI_BASE_URL": "https://openai/v1",
    "CLAUDE_API_KEY": "xxx",
    "CLAUDE_BASE_URL": "https://anthropic/v1",
    "PROJECT_ID": null,
    "GEMINI_OAUTH_CREDS_BASE64": null,
    "GEMINI_OAUTH_CREDS_FILE_PATH": null,
    "KIRO_OAUTH_CREDS_BASE64": null,
    "KIRO_OAUTH_CREDS_FILE_PATH": null,
    "QWEN_OAUTH_CREDS_FILE_PATH": null,
    "SYSTEM_PROMPT_FILE_PATH": "input_system_prompt.txt",
    "SYSTEM_PROMPT_MODE": "overwrite",
    "PROMPT_LOG_BASE_NAME": "prompt_log",
    "PROMPT_LOG_MODE": "none",
    "REQUEST_MAX_RETRIES": 3,
    "REQUEST_BASE_DELAY": 1000,
    "CRON_NEAR_MINUTES": 1,
    "CRON_REFRESH_TOKEN": false,
    "PROVIDER_POOLS_FILE_PATH": "provider_pools.json",
    "WARP_URL": "https://app.warp.dev/ai/multi-agent",
    "WARP_JWT": null,
    "WARP_REFRESH_TOKEN": "AMf-vBxSRmdhveGGBYM69p05kDhIn1i7wscALEmC9fYdRpHzjER9dL7kk-kHPYwvY9ROkmy50qGTcIiJZ4Am86hPXkpVPL90HJmAf5fZ7PejypdbcK4wso8Kf3axiSWtIROhOcn9NzGaSvl7WqRMNOpHGgBrYn4I8krW57R8_ws8u7XcSw8u0DiL9HrpMm0LtwsCh81k_6bb2CWOEb1lIx3HWSBTePFWsQ",
    "WARP_REFRESH_URL": "https://app.warp.dev/proxy/token?key=AIzaSyBdy3O3S9hrdayLJxJ7mriBR4qgUaUygAs"
}